.main-content {
  background: white;
  border-radius: 1.5rem;
  padding: 1.5rem;
  max-width: 55rem;
}

@media (width > 50rem) {
  .main-content {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }
}