@font-face {
  font-family: SpaceMono;
  src: url('./assets/fonts/Space_Mono/SpaceMono-Bold.ttf');
  font-stretch: normal;
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: SpaceMono;
}

body {
  background: hsl(185, 41%, 84%);
  color: hsl(186, 14%, 43%);
}

header {
  text-align: center;
  padding: calc(1rem + 8%) 0 2.5rem 0;
}
