.select-tip__buttons-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1rem;
  margin: 1rem 0 2rem 0;
}

.select-tip__button {
  background: hsl(183, 100%, 15%);
  color: hsl(189, 41%, 97%);
  font-size: 24px;
}

.select-tip__button,
.select-tip__custom {
  width: 140px; 
  cursor: pointer;
  height: 48px;
  border: 2px solid transparent;
  border-radius: 4px;
}

@media (width > 30rem) {
  .select-tip__buttons-container {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .select-tip__button,
  .select-tip__custom {
    width: 115px;
  }
}